/*.grid {
  background-image: repeating-linear-gradient(0deg,transparent,transparent 14px,#CCC 14px,#CCC 15px),repeating-linear-gradient(-90deg,transparent,transparent 14px,#CCC 14px,#CCC 15px);
  background-size: 15px 15px;
  background-size: 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 2366px;
  height: 3303px;
  overflow: hidden;
  margin: 0;
}*/

.square {
  height: 29px;
  width: 29px;
  position: absolute;
  transition: all 0.1s ease;
  background-position: center;
  background-size: cover;
  background-image: url("https://i.imgur.com/LkYOOuE.png");
}


.glover-park {
  position: absolute;
  top: 0;
  left: 0;
  height: 790px;
  z-index: -10;
}

.garrett-map {
  position: absolute;
  top: 0;
  left: 161px;
  height: 790px;
  z-index: -10;
}

.car-park {
  position: absolute;
  top: 0;
  left: 1265px;
  height: 790px;
  z-index: -10;
  width: 158px;
}

.flatmate {
  height: 29px;
  width: 29px;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.interactable {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.flatmate-speech-bubble {
  height: 100px;
  width: 100px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url("http://pixelartmaker.com/art/29aa266adbac146.png");
  transition: all 0.1s ease;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.garrett-building{
  position: absolute;
  top: 0;
  left: 161px;
  height: 790px;
}

.door{
  height: 231px;
  width: 100px;
  position: absolute;
  left: 666px;
  top: 474px;
  z-index: 100;
}