.grid {
  background-image: repeating-linear-gradient(0deg,transparent,transparent 29px,#CCC 29px,#CCC 30px),repeating-linear-gradient(-90deg,transparent,transparent 29px,#CCC 29px,#CCC 30px);
  background-size: 30px 30px;
  background-size: 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 10000px;
  width: 10000px;
}

.square {
  background: red;
  height: 29px;
  width: 29px;
  position: absolute;
  transition: all 0.1s ease;
}