.grid {
  background-image: repeating-linear-gradient(0deg,transparent,transparent 30px,#CCC 30px,#CCC 31px),repeating-linear-gradient(-90deg,transparent,transparent 30px,#CCC 30px,#CCC 31px);
  background-size: 31px 31px;
  background-size: 31px 31px;
  position: fixed;
  top: 0;
  left: 0;
  height: 10000px;
  width: 10000px;
}