
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here');

p {
    font-family: "Just Me Again Down Here", sans-serif;
    font-size: 24px;
}


.memory-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  p{
    width: 100%;
    text-align: center;
  }
  p span{
    background-color: white;
  }
}

.memory-image{
  max-height: 500px;
}

.memory-popup{
    background-color: transparent !important;
    border: none !important;
}

